### Kategorik Degisken Kiriliminda Deger Atama

In [13]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
V4 = np.array(["IT","IT","IK","IK","IK","IK","IK","IT","IT"])

df=pd.DataFrame(
    { "maas" :V1 ,
     "V2" : V2,
     "V3" : V3,
     "departman" : V4 }
)
df

   maas    V2    V3 departman
0   1.0   7.0   NaN        IT
1   3.0   NaN  12.0        IT
2   6.0   5.0   5.0        IK
3   NaN   8.0   6.0        IK
4   7.0  12.0  14.0        IK
5   1.0   NaN   7.0        IK
6   NaN   NaN   NaN        IK
7   9.0   2.0   2.0        IT
8  15.0   3.0  31.0        IT

In [15]:
df.groupby("departman")["maas"].mean()

departman
IK    4.666667
IT    7.000000
Name: maas, dtype: float64

In [19]:
df["maas"].fillna(df.groupby("departman")["maas"].transform("mean")) #eksik yerleri departmana gore doldurduk

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: maas, dtype: float64

In [21]:
df["maas"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: maas, dtype: float64

### Kategorik Degiskenler icin Eksik Deger Atama

In [33]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.NaN,"IK","IK","IK","IK","IK","IT","IT"],dtype = object)

df = pd.DataFrame(
    {"maas" : V1,
     "departman" : V4}
)
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [35]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [37]:
df["departman"].mode()[0]

'IK'

df["departman"].fillna(method = "bfill") #sonraki degerle doldurma islemi

In [41]:
df["departman"].fillna(method = "ffill") #bir onceki degerle na doldurma

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

### Tahmine Dayali Deger Atama Yöntemleri

In [3]:
import seaborn as sns
import missingno as msno 
df = sns.load_dataset('titanic')
df = df.select_dtypes(include =  ['float64','int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [5]:
!pip install ycimpute

Collecting ycimpute
  Obtaining dependency information for ycimpute from https://files.pythonhosted.org/packages/64/7b/e36e4600f76448552084c021f93031f7926072fa1c672753e06b044aedee/ycimpute-0.2-py3-none-any.whl.metadata
  Downloading ycimpute-0.2-py3-none-any.whl.metadata (775 bytes)
Requirement already satisfied: six in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from ycimpute) (1.24.3)
Requirement already satisfied: scipy in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from ycimpute) (1.11.1)
Requirement already satisfied: scikit-learn>=0.17.1 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from ycimpute) (1.3.0)
Collecting torch>=1.1.0 (from ycimpute)
  Obtaining dependency information for torch>=1.1.0 from https://files.pythonhosted.org/packages/0b/fa/f33a4148c6fb46ca2a3f8de39c24d473822d5774d652b66ed9b1214da5f7/torch-2.6.0-cp311-none-macosx_11_0_arm64.whl.metadata
  Downloading torch-2.6.0-cp311-none-macosx_11_0_arm64.whl.metadata (28 kB)
Requirement already satisfied: joblib>=1.1.1 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from scikit-learn>=0.17.1->ycimpute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: filelock in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.9.0)
Requirement already satisfied: typing-extensions>=4.10.0 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (4.12.2)
Requirement already satisfied: networkx in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.1)
Requirement already satisfied: jinja2 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (3.1.2)
Requirement already satisfied: fsspec in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from torch>=1.1.0->ycimpute) (2024.12.0)
Collecting sympy==1.13.1 (from torch>=1.1.0->ycimpute)
  Obtaining dependency information for sympy==1.13.1 from https://files.pythonhosted.org/packages/b2/fe/81695a1aa331a842b582453b605175f419fe8540355886031328089d840a/sympy-1.13.1-py3-none-any.whl.metadata
  Downloading sympy-1.13.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from sympy==1.13.1->torch>=1.1.0->ycimpute) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from jinja2->torch>=1.1.0->ycimpute) (2.1.1)
Downloading ycimpute-0.2-py3-none-any.whl (35 kB)
Downloading torch-2.6.0-cp311-none-macosx_11_0_arm64.whl (66.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.5/66.5 MB 10.7 MB/s eta 0:00:0000:0100:01
Downloading sympy-1.13.1-py3-none-any.whl (6.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 12.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: sympy, torch, ycimpute
  Attempting uninstall: sympy
    Found existing installation: sympy 1.11.1
    Uninstalling sympy-1.11.1:
      Successfully uninstalled sympy-1.11.1
Successfully installed sympy-1.13.1 torch-2.6.0 ycimpute-0.2

In [7]:
from ycimpute.imputer import knnimput #KNN imputation yöntemi, eksik verileri komşularına bakarak doldurur.

In [9]:
var_names = list(df) #df icindeki sutun isimleri var_names listesine ataniyo

In [11]:
import numpy as np
n_df = np.array(df) #ycimpute sadece np dizileri ile calisir ondan df bir numpy array haline getiriliyo

In [13]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [15]:
n_df.shape

(891, 6)

In [17]:
dff=knnimput.KNN(k=4).complete(n_df) #4 en yakin komsu kullanilarak eksik veri dolduruluyo
#complete(n_df) → KNN modeli, eksik değerleri tamamlıyor ve yeni bir NumPy array döndürüyor.

Imputing row 1/891 with 0 missing, elapsed time: 0.084
Imputing row 101/891 with 0 missing, elapsed time: 0.085
Imputing row 201/891 with 0 missing, elapsed time: 0.085
Imputing row 301/891 with 1 missing, elapsed time: 0.085
Imputing row 401/891 with 0 missing, elapsed time: 0.086
Imputing row 501/891 with 0 missing, elapsed time: 0.086
Imputing row 601/891 with 0 missing, elapsed time: 0.086
Imputing row 701/891 with 0 missing, elapsed time: 0.086
Imputing row 801/891 with 0 missing, elapsed time: 0.087

In [19]:
type(dff)

numpy.ndarray

In [21]:
import pandas as pd
dff = pd.DataFrame(dff,columns = var_names)
#KNN ile doldurulan dff tekrar Pandas DataFrame formatına çevriliyor.

In [23]:
type(dff)

pandas.core.frame.DataFrame

In [25]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [27]:
#random forests

In [29]:
import seaborn as sns
import missingno as msno 
df = sns.load_dataset('titanic')
df = df.select_dtypes(include =  ['float64','int64'])

In [31]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [33]:
var_names = list(df)

In [35]:
import numpy as np
n_df = np.array(df)

In [37]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df)

AttributeError: module 'ycimpute.imputer.iterforest' has no attribute 'IterImput'

In [39]:
dff = pd.DataFrame(dff,columns = var_names)

In [41]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [43]:
#EM

In [45]:
import seaborn as sns
import missingno as msno 
df = sns.load_dataset('titanic')
df = df.select_dtypes(include =  ['float64','int64'])

In [47]:
from ycimpute.imputer import EM

In [49]:
var_names = list(df)

In [51]:
import numpy as np
n_df = np.array(df)

In [53]:
dff = EM().complete(n_df)

In [55]:
dff = pd.DataFrame(dff,columns=var_names)

In [57]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64