In [6]:
import pandas as pd
df = pd.read_csv("../Advertising.csv")
df = df.iloc[:,1:len(df)]
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
X = df.drop('sales',axis=1)
y = df["sales"] #bagimli degisken df[["sales"]] seklinde yazarsak pandas date frame seklinde gelmis olur

In [10]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [12]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

### Stats Model ile model kurmak

In [19]:
import statsmodels.api as sm

In [20]:
lm = sm.OLS(y,X)

In [23]:
model = lm.fit()

In [25]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  sales   R-squared (uncentered):                   0.982
Model:                            OLS   Adj. R-squared (uncentered):              0.982
Method:                 Least Squares   F-statistic:                              3566.
Date:                Mon, 21 Apr 2025   Prob (F-statistic):                   2.43e-171
Time:                        10:40:49   Log-Likelihood:                         -423.54
No. Observations:                 200   AIC:                                      853.1
Df Residuals:                     197   BIC:                                      863.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0538      0.001     40.507      0.000       0.051       0.056
radio          0.2222      0.009     23.595      0.000       0.204       0.241
newspaper      0.0168      0.007      2.517      0.013       0.004       0.030
==============================================================================
Omnibus:                        5.982   Durbin-Watson:                   2.038
Prob(Omnibus):                  0.050   Jarque-Bera (JB):                7.039
Skew:                          -0.232   Prob(JB):                       0.0296
Kurtosis:                       3.794   Cond. No.                         12.6
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### scikit learn ile model kurmak

In [30]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [32]:
model = lm.fit(X,y)

In [36]:
model.intercept_

2.9388893694593996

In [38]:
model.coef_ #katsayilar degisti mesela bunlarla tahmin yapicaz

array([ 0.04576465,  0.18853002, -0.00103749])

## Tahmin

### sales = 2.94 + TV*0.04 + radio *0.19 - newspaper * 0.001

### 30 birim tv 10 birim radio 40 birim gazete

In [45]:
2.94 +30 * 0.04 + 10*0.19 - 40*0.001

5.999999999999999

In [47]:
yeni_veri = [[30],[10],[40]]

In [49]:
import pandas as pd
yeni_veri = pd.DataFrame(yeni_veri).T

In [51]:
yeni_veri

    0   1   2
0  30  10  40

In [53]:
model.predict(yeni_veri)

/Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6.15562918])

In [55]:
from sklearn.metrics import mean_squared_error

In [57]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [59]:
model.predict(X)[0:10]

array([20.52397441, 12.33785482, 12.30767078, 17.59782951, 13.18867186,
       12.47834763, 11.72975995, 12.12295317,  3.72734086, 12.55084872])

In [61]:
MSE = mean_squared_error(y,model.predict(X)) # hata karesi ortalamasi
MSE

2.784126314510936

In [63]:
import numpy as np
RMSE = np.sqrt(MSE) #karekok degeri
RMSE

1.6685701407225697

## Model Tuning(Model Dogrulama)

In [66]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [68]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [70]:
#sinama seti
from sklearn.model_selection import train_test_split

In [72]:
X_train , X_test, y_train,y_test = train_test_split(X,y,test_size = 0.20 , random_state=99) #%80 train %20 test

In [74]:
X_train.head()

        TV  radio  newspaper
16    67.8   36.6      114.0
51   100.4    9.6        3.6
97   184.9   21.0       22.0
164  117.2   14.7        5.4
71   109.8   14.3       31.7

In [76]:
X_test.head()

       TV  radio  newspaper
135  48.3   47.0        8.5
127  80.2    0.0        9.2
191  75.5   10.8        6.0
66   31.5   24.6        2.2
119  19.4   16.0       22.3

In [78]:
y_train.head()

16     12.5
51     10.7
97     15.5
164    11.9
71     12.4
Name: sales, dtype: float64

In [80]:
y_test.head()

135    11.6
127     8.8
191     9.9
66      9.5
119     6.6
Name: sales, dtype: float64

In [82]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [84]:
np.sqrt(mean_squared_error(y_train,model.predict(X_train))) #train hatasi

1.723682482265075

In [86]:
np.sqrt(mean_squared_error(y_test,model.predict(X_test)))

1.4312783138301641

In [88]:
#k-katli cv

In [90]:
from sklearn.model_selection import cross_val_score

In [92]:
cross_val_score(model, X_train,y_train, cv=10,scoring = "neg_mean_squared_error")

array([-2.1019073 , -2.48953197, -3.09704214, -2.34694216, -3.68175761,
       -1.8691401 , -3.18173007, -4.1927349 , -2.17128376, -8.03821974])

In [94]:
#cv-mse
np.mean(-cross_val_score(model, X_train,y_train, cv=10,scoring = "neg_mean_squared_error"))

3.3170289742341277

In [100]:
# cv rmse
np.sqrt(np.mean(-cross_val_score(model, X_train,y_train, cv=10,scoring = "neg_mean_squared_error")))

1.8212712522395251

In [102]:
np.sqrt(np.mean(-cross_val_score(model, X,y, cv=10,scoring = "neg_mean_squared_error")))

1.7492763126843387