In [2]:
import nltk

# Şu anki hata için gerekli olan:
nltk.download('maxent_ne_chunker')

# Geçmişteki hatalardan veya genel NLP için gerekli olabilecek diğer yaygın kaynaklar:
nltk.download('punkt')                 # Kelime ve cümle tokenizasyonu için
nltk.download('averaged_perceptron_tagger') # POS etiketleme için
nltk.download('stopwords')             # Stopword listeleri için
nltk.download('words')                 # Bazı chunker'lar veya Lemmatizer için gerekli olabilir (opsiyonel)

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

# Temel String İşlemleri

## Oluşturma Biçimlendirme

In [5]:
isim = "mvk"

In [6]:
3 * isim

'mvkmvkmvk'

In [7]:
"mvk" + "ali"

'mvkali'

In [8]:
"K" + isim[1:]

'Kvk'

In [9]:
isim = "Mustafa Vahit Keskin"

In [10]:
isim.startswith("a")
isim.startswith("m")
isim.startswith("M")
isim.endswith("n")

True

In [11]:
#count

In [12]:
isim.count("a")

3

In [13]:
#sorted

In [14]:
sorted("defter")

['d', 'e', 'e', 'f', 'r', 't']

In [15]:
print(*sorted("defter"), sep = "")

deefrt

## Karakterleri Bölmek

In [17]:
isim = "Mustafa Vahit Keskin"

In [18]:
isim.split()

['Mustafa', 'Vahit', 'Keskin']

In [19]:
isim.split(",")

['Mustafa Vahit Keskin']

In [20]:
isim = "Mustafa_Vahit_Keskin"

In [21]:
isim.split("_")

['Mustafa', 'Vahit', 'Keskin']

In [22]:
isim = "Mustafa Vahit Keskin"

In [23]:
isim.upper()

'MUSTAFA VAHIT KESKIN'

In [24]:
isim.lower()

'mustafa vahit keskin'

In [25]:
isim.upper().lower()

'mustafa vahit keskin'

In [26]:
isim_b = isim.upper()

In [27]:
isim_b.islower()

False

In [28]:
isim_b.isupper()

True

In [29]:
isim = "mustafa vahit keskin"

In [30]:
isim.capitalize()

'Mustafa vahit keskin'

In [31]:
isim.title()

'Mustafa Vahit Keskin'

In [32]:
isim.swapcase()

'MUSTAFA VAHIT KESKIN'

In [33]:
isim = "MUSTAFA vahit KESKIN"

In [34]:
isim.swapcase()

'mustafa VAHIT keskin'

## İstenmeyen Karakterleri Kırpmak: strip(), lstrip(), rsting()

In [36]:
isim = " hello "

In [37]:
isim.strip()

'hello'

In [38]:
isim = "*hello*"

In [39]:
isim.strip("*")

'hello'

In [40]:
isim = "lhellol"

In [41]:
isim.strip("l")

'hello'

In [42]:
isim = "*hello*"

In [43]:
isim.rstrip("*")

'*hello'

In [44]:
isim.lstrip("*")

'hello*'

## join: bölünmüş ya da zaten bölük olan ifadelerin birleştirilmesi

In [46]:
isim = "Mustafa Vahit Keskin"

In [47]:
ayrik = isim.split()

In [48]:
ayrik

['Mustafa', 'Vahit', 'Keskin']

In [49]:
joiner = " "

In [50]:
joiner.join(ayrik)

'Mustafa Vahit Keskin'

In [51]:
joiner = "*****"

In [52]:
joiner.join(ayrik)

'Mustafa*****Vahit*****Keskin'

# Metin Madenciliği ve Doğal Dil İşleme Giriş

## Metin Ön İşleme

In [55]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### string'i df/array/seriye çevirmek

In [57]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [58]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [59]:
v_metin = metin.split("\n")

In [60]:
import pandas as pd

In [61]:
v = pd.Series(v_metin)

In [62]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [63]:
metin_vektoru = v[1:len(v)]

In [64]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [65]:
mdf = pd.DataFrame(metin_vektoru, columns = ["hikayeler"])

In [66]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük harf

In [68]:
d_mdf = mdf.copy()

In [69]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [70]:
list1 = [1,2,3]

In [71]:
str1 = "".join(str(i) for i in list1)

In [72]:
str1

'123'

In [73]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [74]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [75]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Noktalama İşaretlerinin Silinmesi

In [77]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [78]:
type(d_mdf)

pandas.core.series.Series

In [79]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [80]:
d_mdf = d_mdf.str.replace("[^\w\s]","")

In [81]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Sayıların Silinmesi

In [83]:
d_mdf = d_mdf.str.replace("\d","")

In [84]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Stopwords

In [86]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [87]:
!pip install nltk

Requirement already satisfied: nltk in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (3.9.1)
Requirement already satisfied: click in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

In [88]:
import nltk

In [89]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [90]:
from nltk.corpus import stopwords

In [91]:
sw = stopwords.words("english")

In [92]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [93]:
d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1            scandal bohemia! 01
2            red-headed league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [94]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

## Az Geçen Kelimelerin Silinmesi

In [96]:
type(d_mdf)

pandas.core.series.Series

In [97]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [98]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure     6
scandal       1
twisted       1
copper        1
coronet       1
beryl         1
bachelor      1
noble         1
thumb         1
engineer's    1
band          1
speckled      1
carbuncle     1
blue          1
lip           1
with?         1
bohemia!      1
man           1
pips1         1
orange        1
five          1
mystery4      1
valley        1
boscombe      1
33            1
identity      1
case,         1
league,2      1
red-headed    1
01            1
beeches       1
Name: count, dtype: int64

In [99]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [100]:
sil

red-headed    1
01            1
beeches       1
Name: count, dtype: int64

In [101]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

1               scandal bohemia!
2                       league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12              adventure copper
Name: hikayeler, dtype: object

## Tokenization

In [103]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [104]:
!pip install textblob

Requirement already satisfied: textblob in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: tqdm in /Users/gokturkberkekorkut/anaconda3/lib/python3.11/site-packages (from nltk>=3.9->textblob) (4.65.0)

In [105]:
import textblob

In [106]:
from textblob import TextBlob

In [107]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['scandal', 'bohemia', '01'])

In [108]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1               [scandal, bohemia, 01]
2               [red-headed, league,2]
3                 [case, identity, 33]
4         [boscombe, valley, mystery4]
5                [five, orange, pips1]
6            [man, with, twisted, lip]
7         [adventure, blue, carbuncle]
8          [adventure, speckled, band]
9     [adventure, engineer, 's, thumb]
10        [adventure, noble, bachelor]
11         [adventure, beryl, coronet]
12        [adventure, copper, beeches]
Name: hikayeler, dtype: object

## Stemming

Amacı, bir kelimenin farklı çekimlenmiş veya türetilmiş biçimlerini aynı kök veya gövdeye indirgemektir.

In [111]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [112]:
d_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1          scandal bohemia! 01
2            red-head league,2
3               case, ident 33
4      boscomb valley mystery4
5             five orang pips1
6          man with? twist lip
7       adventur blue carbuncl
8         adventur speckl band
9     adventur engineer' thumb
10      adventur nobl bachelor
11      adventur beryl coronet
12       adventur copper beech
Name: hikayeler, dtype: object

## Lemmatization
Amacı, bir kelimenin farklı çekimlenmiş veya türetilmiş biçimlerini, kelimenin temel, sözlük formuna yani lemma'sına indirgemektir. Stemming'den farklı olarak, lemmatizasyon sonucu elde edilen lemma her zaman dilbilgisel olarak geçerli, gerçek bir kelimedir.

Lemmatizasyon: Daha doğru ve dilbilimsel olarak geçerli sonuçlar üretir çünkü kelimenin sözlük formunu hedefler ve sözcük türü gibi dilbilgisel bilgileri kullanır. Daha yavaştır.


Stemming: Daha basit, kural tabanlı bir yöntemdir ve genellikle kelimenin sonundaki ekleri keser. Elde edilen "kök" her zaman gerçek bir kelime olmak zorunda değildir. Daha hızlıdır.

In [114]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [115]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1            scandal bohemia! 01
2            red-headed league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12        adventure copper beech
Name: hikayeler, dtype: object

In [116]:
mdf["hikayeler"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: hikayeler, dtype: object

In [117]:
d_mdf["hikayeler"][0:5]

1         scandal bohemia! 01
2         red-headed league,2
3           case, identity 33
4    boscombe valley mystery4
5           five orange pips1
Name: hikayeler, dtype: object

# NLP Uygulamaları

## N-Gram

In [120]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""

In [121]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kelimelerin', 'kombinasyolarını', 'gösterir'])]

## Part of speech tagging (POS)
her kelimeyi (token'ı) dilbilgisel sözcük türüyle (örneğin isim, fiil, sıfat, zarf, zamir vb.) etiketleme işlemidir.

In [123]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [124]:
TextBlob(d_mdf["hikayeler"][2]).tags

[('red-headed', 'JJ'), ('league,2', 'NN')]

In [125]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1              [(scandal, NN), (bohemia, NN), (01, CD)]
2                    [(red-headed, JJ), (league,2, NN)]
3                [(case, NN), (identity, NN), (33, CD)]
4        [(boscombe, NN), (valley, NN), (mystery4, NN)]
5               [(five, CD), (orange, NN), (pips1, NN)]
6     [(man, NN), (with, IN), (twisted, VBN), (lip, ...
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), ('s, POS), (...
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (shallow parsing)

bir cümlenin metinsel yapısını analiz ederek, dilbilgisel olarak ilişkili kelime gruplarını (yani "chunk"ları veya "öbekleri") belirleme işlemidir. Bu gruplar genellikle bir baş kelime (head word) etrafında toplanan ve birbirine ait olan kelimelerdir.

Chunking, genellikle POS (Part-of-Speech) etiketlemesinden sonra yapılır ve bir cümlenin karmaşık sözdizimsel analizini (Full Parsing) yapmadan, temel cümle parçalarını (öbeklerini) çıkarmayı hedefler. Bu öbekler, genellikle şu türden olabilir:

İsim Öbekleri (Noun Phrase - NP): Bir isim ve onu niteleyen diğer kelimeler (sıfatlar, belirteçler vb.)
Fiil Öbekleri (Verb Phrase - VP): Bir fiil ve onun nesneleri, zarfları veya tümleçleri.
Edat Öbekleri (Prepositional Phrase - PP): Bir edat ve onun nesnesi.
Zarf Öbekleri (Adverb Phrase - AVP): Bir zarf ve onu niteleyen kelimeler.
Sıfat Öbekleri (Adjective Phrase - ADJP): Bir sıfat ve onu niteleyen kelimeler.

In [127]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [128]:
pos

1              [(scandal, NN), (bohemia, NN), (01, CD)]
2                    [(red-headed, JJ), (league,2, NN)]
3                [(case, NN), (identity, NN), (33, CD)]
4        [(boscombe, NN), (valley, NN), (mystery4, NN)]
5               [(five, CD), (orange, NN), (pips1, NN)]
6     [(man, NN), (with, IN), (twisted, VBN), (lip, ...
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineer, NN), ('s, POS), (...
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

In [129]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [130]:
pos = TextBlob(cumle).tags

In [131]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [132]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [133]:
sonuclar = rp.parse(pos)

In [134]:
sonuclar

ModuleNotFoundError: No module named 'svgling'

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [135]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [136]:
sonuclar.draw()

## Named Entity Recognition

Metin içindeki adlandırılmış varlıkları (kişi, yer, kuruluş vb.) belirler ve sınıflandırır.

Genellikle POS etiketleme ve hatta chunking'den sonra, daha yüksek seviye bir analizdir.

In [138]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [201]:
import nltk

print("NLTK kaynakları indirme/kontrol ediliyor...")

# ne_chunk için gerekli olan 'maxent_ne_chunker' paketini indirelim.
# Bu paket, 'maxent_ne_chunker_tab'ı da içermelidir.
nltk.download('maxent_ne_chunker', quiet=False)

# Diğer temel NLTK kaynaklarını da indir (geçmiş hatalar için ve genel kullanım için)
nltk.download('punkt', quiet=True) # Cümle ve kelime tokenizasyonu için
nltk.download('averaged_perceptron_tagger', quiet=True) # POS etiketleme için
nltk.download('stopwords', quiet=True) # Stopword'ler için
nltk.download('words', quiet=True) # Bazı dilbilgisel modeller için

print("NLTK kaynakları indirme/kontrol tamamlandı.")
print("\nİndirilen NLTK verilerinin yolları:")
print(nltk.data.path)

NLTK kaynakları indirme/kontrol ediliyor...
NLTK kaynakları indirme/kontrol tamamlandı.

İndirilen NLTK verilerinin yolları:
['/Users/gokturkberkekorkut/nltk_data', '/Users/gokturkberkekorkut/anaconda3/nltk_data', '/Users/gokturkberkekorkut/anaconda3/share/nltk_data', '/Users/gokturkberkekorkut/anaconda3/lib/nltk_data', '/usr/share/nltk_data', '/usr/local/share/nltk_data', '/usr/lib/nltk_data', '/usr/local/lib/nltk_data']

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [203]:
o_df = d_mdf.copy()

In [205]:
o_df["hikayeler"]

1            scandal bohemia! 01
2            red-headed league,2
3              case, identity 33
4       boscombe valley mystery4
5              five orange pips1
6          man with? twisted lip
7       adventure blue carbuncle
8        adventure speckled band
9     adventure engineer's thumb
10      adventure noble bachelor
11       adventure beryl coronet
12      adventure copper beeches
Name: hikayeler, dtype: object

In [207]:
o_df["hikayeler"].str.len()

1     19
2     19
3     17
4     24
5     17
6     21
7     24
8     23
9     26
10    24
11    23
12    24
Name: hikayeler, dtype: int64

In [209]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [211]:
o_df

                     hikayeler  harf_sayisi
1          scandal bohemia! 01           19
2          red-headed league,2           19
3            case, identity 33           17
4     boscombe valley mystery4           24
5            five orange pips1           17
6        man with? twisted lip           21
7     adventure blue carbuncle           24
8      adventure speckled band           23
9   adventure engineer's thumb           26
10    adventure noble bachelor           24
11     adventure beryl coronet           23
12    adventure copper beeches           24

## Kelime Sayısı

In [214]:
a = "scandal in a bohemia"

In [216]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [218]:
len(a.split())

4

In [220]:
o_df.iloc[0:1,0:1]

             hikayeler
1  scandal bohemia! 01

In [222]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [224]:
o_df

                     hikayeler  harf_sayisi  kelime_sayisi
1          scandal bohemia! 01           19              3
2          red-headed league,2           19              2
3            case, identity 33           17              3
4     boscombe valley mystery4           24              3
5            five orange pips1           17              3
6        man with? twisted lip           21              4
7     adventure blue carbuncle           24              3
8      adventure speckled band           23              3
9   adventure engineer's thumb           26              3
10    adventure noble bachelor           24              3
11     adventure beryl coronet           23              3
12    adventure copper beeches           24              3

## Özel Karakterleri Yakalamak & Saydırmak

In [227]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [229]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("adventure")]))

In [231]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi
1,scandal bohemia! 01,19,3,0
2,"red-headed league,2",19,2,0
3,"case, identity 33",17,3,0
4,boscombe valley mystery4,24,3,0
5,five orange pips1,17,3,0
6,man with? twisted lip,21,4,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineer's thumb,26,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Sayıları Yakalamak & Saydırmak

In [234]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [236]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() 
                                       if x.isdigit()]))

In [238]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi,sayi_sayisi
1,scandal bohemia! 01,19,3,0,1
2,"red-headed league,2",19,2,0,0
3,"case, identity 33",17,3,0,1
4,boscombe valley mystery4,24,3,0,0
5,five orange pips1,17,3,0,0
6,man with? twisted lip,21,4,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineer's thumb,26,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0

# Metin Görselleştirme

In [241]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [243]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [245]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [247]:
#buyuk-kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [249]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [251]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

In [253]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/gokturkberkekorkut/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [254]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [256]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [257]:
data['Phrase'].head(10)

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

## Terim Frekansı

In [ ]:
tf1 = (data["Phrase"]).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [ ]:
tf1.columns = ["words","tf"]

In [ ]:
tf1.head()

In [ ]:
tf1.info()

In [ ]:
tf1.nunique()

## barplot

In [ ]:
a = tf1[tf1["tf"] > 1000]

In [ ]:
a.plot.bar(x = "words", y = "tf");

## Wordcloud

In [ ]:
!pip install wordcloud

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud = WordCloud(max_font_size = 50,
                     max_words = 100, 
                     background_color = "white").generate(text)
plt.figure()
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
wordcloud.to_file("kelime_bulutu.png");

In [ ]:
#tum metin

In [ ]:
text = " ".join(i for i in data.Phrase)

In [ ]:
text

In [ ]:
wordcloud = WordCloud(max_font_size = 50, 
                     background_color = "white").generate(text)
plt.figure(figsize = [10,10])
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()

In [ ]:
?wordcloud

## Şablonlara Göre Word Cloud

In [ ]:
vbo_mask = np.array(Image.open("tr.png"))

In [ ]:
vbo_mask

In [ ]:
wc = WordCloud(background_color = "white",
                     max_words = 1000, 
                     mask = vbo_mask, 
                     contour_width = 3,
                     contour_color = "firebrick")

wc.generate(text)

wc.to_file("vbo.png")

plt.figure(figsize = [10,10])
plt.imshow(wc, interpolation = "bilinear")
plt.axis("off")
plt.show()

# Sentiment Analizi ve Sınıflandırma Modelleri

In [ ]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import text, sequence
from keras import layers, models, optimizers


from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [ ]:
data.head()

In [ ]:
data["Sentiment"].replace(0, value = "negatif", inplace = True)
data["Sentiment"].replace(1, value = "negatif", inplace = True)

In [ ]:
data["Sentiment"].replace(3, value = "pozitif", inplace = True)
data["Sentiment"].replace(4, value = "pozitif", inplace = True)

In [ ]:
data.head()

In [ ]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [ ]:
data.head()

In [ ]:
data.groupby("Sentiment").count()

In [ ]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [ ]:
df.head()

## Metin Ön İşleme

In [ ]:
#buyuk-kucuk donusumu
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#noktalama işaretleri
df['text'] = df['text'].str.replace('[^\w\s]','')
#sayılar
df['text'] = df['text'].str.replace('\d','')
#stopwords
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#seyreklerin silinmesi
sil = pd.Series(' '.join(df['text']).split()).value_counts()[-1000:]
df['text'] = df['text'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))
#lemmi
from textblob import Word
#nltk.download('wordnet')
df['text'] = df['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

## Değişken Mühendisliği

* Count Vectors
* TF-IDF Vectors (words, characters, n-grams)
* Word Embeddings

TF(t) = (Bir t teriminin bir dökümanda gözlenme frekansı) / (dökümandaki toplam terim sayısı) 

IDF(t) = log_e(Toplam döküman sayısı / içinde t terimi olan belge sayısı)

In [ ]:
df.head()

In [ ]:
df.iloc[0]

## Test-Train

In [ ]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df["text"],
                                                                   df["label"], 
                                                                    random_state = 1)

In [ ]:
train_y[0:5]

In [ ]:
encoder = preprocessing.LabelEncoder()

In [ ]:
train_y = encoder.fit_transform(train_y)
test_y = encoder.fit_transform(test_y)

In [ ]:
train_y[0:5]

In [ ]:
test_y[0:5]

### Count Vectors

In [ ]:
vectorizer = CountVectorizer()
vectorizer.fit(train_x)

In [ ]:
x_train_count = vectorizer.transform(train_x)
x_test_count = vectorizer.transform(test_x)

In [ ]:
x_train_count.head()

In [ ]:
vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_count.toarray()

### TF-IDF

In [ ]:
#wordlevel

In [ ]:
tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x)

In [ ]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

In [ ]:
x_train_tf_idf_word.toarray()

In [ ]:
# ngram level tf-idf

In [ ]:
tf_idf_ngram_vectorizer = TfidfVectorizer(ngram_range = (2,3))
tf_idf_ngram_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(train_x)
x_test_tf_idf_ngram = tf_idf_ngram_vectorizer.transform(test_x)

In [ ]:
# characters level tf-idf

In [ ]:
tf_idf_chars_vectorizer = TfidfVectorizer(analyzer = "char", ngram_range = (2,3))
tf_idf_chars_vectorizer.fit(train_x)

In [ ]:
x_train_tf_idf_chars = tf_idf_chars_vectorizer.transform(train_x)
x_test_tf_idf_chars = tf_idf_chars_vectorizer.transform(test_x)

# Makine Öğrenmesi ile Sentiment Sınıflandırması

## Lojistik Regresyon

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_count, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
loj = linear_model.LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Naive Bayes

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
nb = naive_bayes.MultinomialNB()
nb_model = nb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(nb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## Random Forests

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = rf.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
rf = ensemble.RandomForestClassifier()
rf_model = loj.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(rf_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

## XGBoost

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_count,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_count, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_word,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Word-Level TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_ngram,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_ngram, 
                                           test_y, 
                                           cv = 10).mean()

print("N-GRAM TF-IDF Doğruluk Oranı:", accuracy)

In [ ]:
xgb = xgboost.XGBClassifier()
xgb_model = xgb.fit(x_train_tf_idf_chars,train_y)
accuracy = model_selection.cross_val_score(xgb_model, 
                                           x_test_tf_idf_chars, 
                                           test_y, 
                                           cv = 10).mean()

print("CHARLEVEL Doğruluk Oranı:", accuracy)

In [ ]:
loj_model

In [ ]:
loj_model.predict("yes i like this film")

In [ ]:
yeni_yorum = pd.Series("this film is very nice and good i like it")

yeni_yorum = pd.Series("no not good look at that shit very bad")

In [ ]:
v = CountVectorizer()
v.fit(train_x)
yeni_yorum = v.transform(yeni_yorum)

In [ ]:
loj_model.predict(yeni_yorum)